.gradient-text {
    /* background-color: #f3ec78; */
    background-image: linear-gradient(135deg, #DEB0EB, #8A2AA6);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.ReactModalPortal {
    z-index: 1000;
}
.ReactModal__Overlay--after-open {
    z-index: 50;
}
.Toastify__toast-container, .Toastify__toast, .Toastify__toast--error {
    z-index: 50;
}