div.model-select {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #D6CCF3 #EEEAF9;
    -ms-overflow-style: none;  /* IE and Edge */
}
div.model-select::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}