div.model-select {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #D6CCF3 #EEEAF9;
    -ms-overflow-style: none;  /* IE and Edge */
}
div.model-select::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}
div.model-select::-webkit-scrollbar-track {
    background-color: #EEEAF9;
    border-radius: 8px;
    width: 8px;
    background-clip: padding-box;  
  }

div.model-select::-webkit-scrollbar-thumb {
    background-color: #D6CCF3;
    width: 8px;
    border-radius: 8px;
    background-clip: padding-box;  
}
  
.ReactModal__Content--after-open {
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 16px !important;
}
.Toastify__toast-container, .Toastify__toast, .Toastify__toast--error {
    z-index: 50;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
